@import 'uview-plus/theme.scss';

$uni-color-primary: #3c96f3;
$uni-color-success: #4caf50;
$uni-color-warning: #ff9800;
$uni-color-error: #f44336;

$uni-text-color: #333;
$uni-text-color-inverse: #fff;
$uni-text-color-grey: #999;
$uni-text-color-placeholder: #cccccc;

$uni-bg-color: #f5f6f7;
$uni-bg-color-grey: #f0f0f0;
$uni-bg-color-hover: #f1f1f1;
$uni-bg-color-mask: rgba(0, 0, 0, 0.4);

$uni-border-color: #e5e5e5;

$uni-font-size-sm: 12px;
$uni-font-size-base: 14px;
$uni-font-size-lg: 16px;
